.app {
  margin: 0 0;
  padding: 0 0;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: white;
  font-family: "Poppins", sans-serif;
}
.btn {
  background-color: #e3cf5d;
}
